@import url(../css/default.css);

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(../fonts/Pretendard-Light.woff) format('woff'), url(../fonts/Pretendard-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-display: swap;
    src: local('Pretendard Bold'), url(../fonts/Pretendard-Black.woff) format('woff'), url(../fonts/Pretendard-Black.woff2) format('woff2');
}

@font-face {
    font-family: 'Bright';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.4/Bright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*::selection {
    background-color: #003348;
    color: #fff;
}
*::-moz-selection { /* 호환성을 위한 코드 */
    background-color: #003348;
    color: #fff;
}
html, body {
    font-family: 'Pretendard', sans-serif; /* 서체 serif 명조 sans-serif 고딕 */
    font-size: 17px; /* 크기 */
    background-color: #ede8e3;
    color: #090606; /* 글자색상 */
    font-weight: 300; /* 글자의 두께 */
    line-height: 1.2; /* auto */
    word-break: keep-all; /* 단어를 묶어서 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 분리해서 줄바꿈 */
}

.f_bright {
    font-family: 'Bright', serif;
}
.wrapper { /* 홈페이지의 넓이를 제한하고 가운데 정렬 */
    width: 1600px; /* 홈페이지 넓이 */
    margin: 0 auto;  /* 가운데 정렬 */
}
#wrap { /* id="wrap"에 적용되는 스타일 */
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width:1640px){
    .wrapper { 
        width: auto; 
        margin: 0 20px;  
    }
}
@media screen and (max-width:1320px){
    html, body {
        font-size: 15px;
    }
}

@media screen and (max-width:1024px){
    html, body {
        font-size: 14px;
    }
}
/*media*/
@media screen and (max-width:768px){
    html, body {
        font-size: 13px;
    }
}

.skipnav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 1000000000000;
    width: 100%;
}
.skipnav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background-color: #F51919;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}
.skipnav a[href="#gnb"] {
    background-color: #1d1d1d;
}
.skipnav a:focus {
    top: 100px;
}
.sec01 .inner {
    margin: 150px 0 30px 0;
}

.sec01 .tit {
    position: relative; /*span태그 정렬의 기준*/
}
.sec01 .tit span{
    display: block;
    font-size: 50px;
    font-weight: 700;
}

.sec01 .tit .txt_black {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    overflow: hidden; /*넘치는 요소 숨김*/
    white-space: nowrap;
    color: #1d1d1d;
    /*애니메이션 적용*/
    animation-name: sec01_ani;
    animation-duration: 3s;
    animation-iteration-count: infinite; /*1*/
    animation-fill-mode: forwards;

}

@keyframes sec01_ani { /* 애니메이션을 효과를 미리 설정함 */
	0% { width:0 }  /* 애니메이션을 시작할때의 속성 */
	100% { width:100% } /* 애니메이션이 종료될때의 속성 */
}

.sec01 .tit .txt_gray {
    color: #ccc;
}

.sec01 .photo {
    height: 700px;
}

.sec01 .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:1024px){
    .sec01 .tit span {
        font-size: 35px;
    }
}
@media screen and (max-width:768px){
    .sec01 .tit span {
        font-size: 25px;
    }
    .sec01 .tit span br {
        display: block;
    }
    .sec01 .photo {
        height: 200px;
    }
}

.sec02 {
    text-align: center;
}

.sec02 .tit {
    margin: 200px 0 35px 0;
}

.sec02 .tit strong {
    display: block;
    font-size: 30px;
}

.sec02 .tit h2 {
    font-size: 90px;
    font-weight: 700;
    color: #1d1d1d;
}

.sec02 .photo {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border-radius: 17px;
    overflow: hidden;
    transition: 0.5s;
}

.sec02 .photo.active {

    border-radius: 0;
}

.sec02 .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec03 {
    margin: 260px 0 260px 0;
    font-size: 70px;
    color: #1d1d1d;
    text-align: center;
}

.sec03 .line {
    overflow: hidden;
}

.sec03 .line span {
    display: block;
    transform: translate(0, 1.2em);
}

.sec03.active .line span {
    /*애니메이션 적용*/
    animation-name: sec03_ani;
    animation-duration: 3s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.sec03.active .line:nth-child(2) span{
    animation-delay: 0.3s;
}
.sec03.active .line:nth-child(3) span{
    animation-delay: 0.6s;
}
.sec03.active .line:nth-child(4) span{
    animation-delay: 0.9s;
}

@keyframes sec03_ani { /* 애니메이션을 효과를 미리 설정함 */
	0% {transform: translate(0, 1.2em)}  /* 애니메이션을 시작할때의 속성 */
	100% {transform: translate(0, 0)} /* 애니메이션이 종료될때의 속성 */
}

.sec04 {
    margin: 260px 0 260px 0;
    font-size: 70px;
    color: #1d1d1d;
    text-align: center;
}

@media screen and (max-width:768px){

}

body {
    transition: 1s;
}
body.black {
    background-color: #1d1d1d;
    color: #fff;
}

body.black .sec03,
body.black .sec04 {
    color: #fff;
}

.sec05 {
    margin: 350px 0 260px 0;
}

.sec05 .wrapper {
    position: relative;
}

.sec05 .photo {
    margin-left: 275px;
    height: 380px;
}

.sec05 .photo IMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec05 .tit {
    position: absolute;
    left: 0;
    top: 230px;
    color: #fff;
    font-size: 100px;
    transition: 0.5s;
}

.sec06 {
    height: 1000px;
}