header {
    position: fixed; /*상단에 고정*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #bfbbb7;
    transition: transform 0.5s;
}
header .logo {
    position: absolute; /*header기준정렬*/
    left: 24px;
    top: 24px;
}
header .logo a {
    display: block;
    width: 116px;
    height: 53px;
    background: url(../images/common/logo2.png) no-repeat center center / contain;
    font-size: 0;
    line-height: 0;
}
header .gnb .gnb_open {
    display: none;
}
header .gnb .gnb_close {
    display: none;
}
header .gnb {
    float: left;
    margin-left: 663px;
}
header .gnb ul {
    display: flex;
    justify-content: space-between;
    width: 388px;
    text-align: center;
    line-height: 100px;
}
header .gnb ul > li > a {
    display: block;
    font-weight: 400;
    letter-spacing: -2.5%;
    white-space: nowrap; /* 무조건 한줄 */
} 
header .gnb ul > li > a:hover {
    font-weight: 700;
    color: #97644D;
}
header .tnb {
    float: right;
}
header .tnb ul {
    display: flex;
    margin: 39px 55px 0 0;
}
header .tnb ul li{
    margin-right: 25px;
}
header .tnb ul li:last-child {
    margin-right: 0;
}
header .tnb ul li a {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb ul li.search a {
    background-image: url(../images/common/search.svg)
}
header .tnb ul li.lang a {
    background-image: url(../images/common/lang.svg)
}
@media screen and (max-width:1640px) {

}

@media screen and (max-width:1320px) {

}
@media screen and (max-width:1024px) {

}

@media screen and (min-width:1025px){ /* 1025px이상 */
    /* 메뉴오버 */
    header.menu_over::before {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 490px;
        background-color: #ede8e3;
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 150px;
        width: 100%;
        height: 1px;
        background-color: #bfbbb7;
        content: "";
    }
    header.menu_over .gnb .depth2 {
        display: block;
    }
    header .gnb .depth1 > li.on > a {
        color: #e80a4d;
    }
    header .gnb .depth1 > li.on > a span {
        position: relative;
    }
    header .gnb .depth1 > li.on > a span::after {
        position: absolute;
        left: -5px;
        bottom: -27px;
        z-index: 1;
        width: calc(100% + 10px);
        height: 4px;
        background-color: #e80a4d;
        content: "";
    }
    header .gnb .depth2 > li > a:hover {
        color: #e80a4d;
        font-weight: 900;
    }

    /* 메뉴고정 */
    header.fixed {
        height: 100px;
    }
    header.fixed .wrapper {
        width: auto;
    }
    header.fixed .head_top {
        height: auto;
    }
    header.fixed .head_sub {
        height: auto;
    }
    header.fixed .tnb1,
    header.fixed .tnb2 {
        display: none;
    }

    header.fixed .logo {
        left: 20px;
        top: 20px;
        transform: translate(0, 0);
    }
    header.fixed .gnb .depth1 {
        justify-content: flex-end;
        margin-left: 150px;
    }
    header.fixed .gnb .depth1 > li {
        max-width: 225px;
        width: 16.66%;
    }
    header.fixed .gnb .depth1 > li > a {
        line-height: 100px;
        font-size: 1.1rem;
    }
    header.fixed .gnb .depth2 > li > a {
        font-size: 1rem;
    }
    header.fixed.menu_over::after {
        top: 100px;
    }
    header.fixed .gnb .depth1 > li.on > a span::after {
        bottom: -42px;
    }
}

@media screen and (max-width:1024px) {
    header {
        height: 100px;
    }
    header.fixed .head_top {
        height: auto;
    }
    header.fixed .head_sub {
        height: auto;
    }
    header .tnb1,
    header .tnb2 {
        display: none;
    }
    header .tnb2 {
        position: absolute;
        left: 20px;
        top: 50%;
        z-index: 10;
        transform: translate(0, -50%);
        margin: 0;
    }
    header .tnb2 ul li {
        margin: 0;
        border-width: 1px 1px 1px 0;
        border-color: rgba(255,255,255,0.5);
        border-style: solid;
    }
    header .tnb2 ul li:first-child{
        border-bottom-width: 0;
    }
    header .tnb2 ul li.ques {
        border-top-width: 0;
    }
    header .tnb2 ul li:last-child{
        border-right-width: 0;
        border-bottom-width: 0;
    }
    header .tnb2 ul li::after {
        display: none;
    }
    header .tnb2 ul li a {
        display: block;
        padding: 10px 20px;
        color: #fff;
    }

    header.fixed .logo {
        left: 20px;
        top: 20px;
        transform: translate(0, 0);
    }

    header.fixed .logo a {
        width: 80px;
        height: 55px;
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #e80a4d;
        color: #fff;
    }
    
    header .gnb .depth1 {
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-x: hidden; /* 좌우는 스크롤 금지 */
        overflow-y: auto; /* 위아래는 스크롤 */
        flex-direction: column; 
        /* display:flex를 유지하면서 아래로 정렬되도록 */
    }
    header .gnb .depth1 > li {
        width: auto;
    }
    header .gnb .depth1 > li > a {
        font-weight: 300;
        font-size: 1.923rem;
        line-height: 3.846rem;
    }
    header .gnb .depth1 > li.on > a {
        font-weight: 900;
    }
    header .gnb .on .depth2 {
        display: block;
        border-top: 1px solid #f485a6;
        border-bottom: 1px solid #f485a6;
        padding: 10px 0;
        margin: 0 20px;
    }
    header .gnb .depth2 > li > a {
        font-size: 1.154rem;
        line-height: 1.923rem;
    }

    header .gnb .gnb_open {
        display: block;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        position: absolute;
        right: 0;
        top: 0;
        width: 60px;
        height: 100px;
        font-size: 0;
        line-height: 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 27px;
    } 
    header .gnb .gnb_open {
        background: url(../images/common/gnb_open.svg) no-repeat center center / contain
    }
    header .gnb .gnb_close {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='21px' height='22px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M20.565,19.870 L19.151,21.284 L10.312,12.446 L1.475,21.286 L0.061,19.872 L8.898,11.031 L0.059,2.192 L1.474,0.778 L10.312,9.617 L19.149,0.777 L20.564,2.190 L11.726,11.031 L20.565,19.870 Z'/%3E%3C/svg%3E");
    }

    /*메뉴가 열렸을 때*/

    header.menu_open .gnb .gnb_wrap {
        display: block;
    }

    header.menu_open .gnb .gnb_open {
        display: none;
    }

    header.menu_open .gnb .gnb_close {
        display: block;
    }

    /* 메뉴가 열렸을때 */
    header.menu_open .gnb .gnb_wrap {
        display: block;
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }

    header.menu_open .tnb2 {
        display: block;
    }
}
@media screen and (max-width:768px){
    header {
        height: 50px;
    }
    header .logo {
        top: 11px;
    }
    header .logo a {
        width: 50px;
        height: 30px;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        width: 60px;
        height: 50px;
        background-size: 27px;
    }

    header .gnb .depth1 > li {
        width: auto;
    }
    
    header .gnb .depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
}