/*
    파일명 : contents.css
    작성자 : 문미영
    작성일 : 2024.02.28
    설  명 : 모든 콘텐츠 페이지별 디자인 스타일 저장
*/
@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* ceo인사말 -  회사소개 */

.cts_greeting {
    margin: 130px 0 275px 0;
}

.cts_greeting > .wrapper {
    display: flex;
}

.cts_greeting .inner p {
    display: block;
}

.cts_greeting .tit {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 60px 0;
}

.cts_greeting p.tit {
    margin: 40px 0 0 40px;
}

.cts_greeting .sign {
    display: flex;
    margin: 40px 0 0 40px;
}

.cts_greeting .sign img {
    width: auto;
    height: 50px;
    margin: 0 0 0 20px;
}

.cts_greeting .txt p {
    margin: 30px 0 0 100px;
    font-size: 17px;
    background-color: #F4F4F4;
    padding: 40px;
}


@media screen and (max-width:1320px){

    .cts_greeting {
        margin: 100px 0 250px 0;
    }
    
    .cts_greeting .tit {
        font-size: 18px;
        margin: 0 0 40px 0;
    }
    
    .cts_greeting p.tit {
        margin: 30px 0 0 30px;
    }

    .cts_greeting .ceo > img {
        width: auto;
        height: 400px;
    }
    
    .cts_greeting .sign {
        margin: 30px 0 0 30px;
    }
    
    .cts_greeting .sign img {
        width: auto;
        height: 30px;
        margin: 0 0 0 20px;
    }
    
    .cts_greeting .txt p {
        margin: 30px 0 0 50px;
        font-size: 15px;
        padding: 20px;
    }
    
}
@media screen and (max-width:1024px){

    .cts_greeting > .wrapper {
        display: flex;
    }

    .cts_greeting .inner p {
        display: block;
    }

    .cts_greeting .tit {
        font-size: 15px;
        font-weight: 700;
        color: #1d1d1d;
        margin: 0 0 60px 0;
    }

    .cts_greeting .ceo {
        padding: 20px;
        display: block;
    }

    .cts_greeting .sign {
        display: flex;
        margin: 40px 0 0 20px;
    }

    .cts_greeting .txt p {
        margin:0;
        font-size: 13px;
        background-color: #F4F4F4;
        padding: 0;
    }

    .cts_greeting .ceo > img {
        width: auto;
        height: 300px;
    }

    
}
@media screen and (max-width:768px){
        
    .cts_greeting {
        position: relative;
    }

    .cts_greeting > .wrapper {
        display: flex;
    }

    .cts_greeting .inner p {
        display: block;
    }

    .cts_greeting .ceo > img {
    display: block;
    position: absolute;
    left: 50px;
    top: 700px;
    width: 100%;
    height: 50px;
    }

    .cts_greeting .tit {
    position: absolute;
    left:0px;
    top: 700px;
    width: 100%;
    height: auto;
    }

    .cts_greeting .ceo {
    position: absolute;
    left: 160px;
    top: 500px;
    width: 100%;
    height: auto;
    }

    .cts_greeting .sign {
        display: flex;
        margin: 40px 0 0 20px;
    }

    .cts_greeting .txt p {
        margin:0;
        font-size: 13px;
        background-color: #F4F4F4;
        padding: 0;
    }

}

/*cts_history*/

.cts_history .summary .wrapper {
    width: 100%;
}

.cts_history .summary img {
    margin-top: 92px;
    max-width: 100%;
    height: auto;
}

.cts_history .summary .summary_txt {
    position: relative;
    border-bottom: 1px solid #1d1d1d;
    width: 100%;
    height: 50px;
    display: block;
    background-color: #fff;
    z-index: -10;
}

.cts_history .summary .summary_txt .inner {
    width: 700px;
}

.cts_history .summary .summary_txt ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: calc( 50% - 350px);
    top: 50px;
    width: 700px;
    line-height: 50px;
    
}

.cts_history .summary .summary_txt ul li {
    position: relative;
}

.cts_history .summary .summary_txt ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #F51919;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 3;
    transition: all 0.3s;
}

.cts_history .year {
    margin: 130px 0 130px 0;
}

.cts_history .year .year1990 {
    margin-top: 100px;
}

.cts_history .year .year_cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cts_history .year .year_cnt .year_txt {
    display: flex;
    align-items: block;
}

.cts_history .year .year2000 .year_cnt .year1_group .year_txt {
    margin-bottom: 100px;
}

.cts_history .year .year2000 .year_cnt > .year2_group > .year_txt {
    margin-bottom: 182px;
}

.cts_history .year .year1990 .year_cnt > .year1_group > .year_txt {
    margin-bottom: 107px;
}

.cts_history .year .year1990 .year_cnt > .year2_group > .year_txt {
    margin-bottom: 67px;
}

.cts_history .year .year_cnt .year_txt .year_tit {
    margin: 0 30px 0 0;
    position: relative;
}

.cts_history .year .year_cnt .year_txt > .year_tit h2 {
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 0;
}
.cts_history .year .year_cnt .year_txt > .year_tit h3 {
    font-size: 35px;
    position: absolute;
    left: 12px;
    top: 22px;
    color: #F51919;
    font-weight: 700;
}

.cts_history .year .year_cnt .year_txt dl{
    margin: 100px 0 0 70px;
    width: 100%;

}

.cts_history .year .year_cnt .year_txt dl dt {
    float: left;
    margin: 0 10px 0 0;    
    font-weight: 700;
    position: relative;
}

.cts_history .year_cnt dl dd {
    margin: 0 0 20px 30px;
    /* 왼쪽에 dt가 들어갈 자리를 반드시  margin으로 여백 */  
}


.cts_history .photo ,img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width:1320px){
    
    
    .cts_history .year {
        margin: 100px 0 100px 0;
    }

    
    .cts_history .year .year_cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .cts_history .year .year1990 {
        margin-top: 80px;
    }
    
    .cts_history .year .year2000 .year_cnt .year1_group .year_txt {
        margin-bottom: px;
    }
    
    .cts_history .year .year2000 .year_cnt > .year2_group > .year_txt {
        margin-bottom: 182px;
    }
    
    .cts_history .year .year1990 .year_cnt > .year1_group > .year_txt {
        margin-bottom: 107px;
    }
    
    .cts_history .year .year1990 .year_cnt > .year2_group > .year_txt {
        margin-bottom: 67px;
    }
    
    .cts_history .year .year_cnt .year_txt .year_tit {
        margin: 0 30px 0 0;
        position: relative;
    }
    
    .cts_history .year .year_cnt .year_txt > .year_tit h2 {
        font-size: 35px;
        position: absolute;
        left: 0;
        top: 0;
    }
    .cts_history .year .year_cnt .year_txt > .year_tit h3 {
        font-size: 30px;
        position: absolute;
        left: 12px;
        top: 22px;
        color: #F51919;
        font-weight: 700;
    }
    
    .cts_history .year .year_cnt .year_txt dl{
        margin: 100px 0 0 30px;
        width: 100%;
    
    }
    
    .cts_history .year .year_cnt .year_txt dl dt {
        float: left;
        margin: 0 10px 0 0;    
        font-weight: 700;
        position: relative;
    }
    
    .cts_history .year_cnt dl dd {
        margin: 0 0 20px 15px;
        /* 왼쪽에 dt가 들어갈 자리를 반드시  margin으로 여백 */  
    }
    

}


@media screen and (max-width:768px){
    
    .cts_history .summary .summary_txt ul {
        left: calc( 50% - 150px);
        width: 300px;
        line-height: 30px;
        
    }
    
    .cts_history .year {
        margin: 70px 0 70px 0;
    }
    
    .cts_history .year .photo {

    }

    .cts_history .year .year1990 {
        margin-top: 50px;
    }
    
    .cts_history .year .year2000 .year_cnt .year1_group .year_txt {
        margin-bottom: 50px;
    }
    
    .cts_history .year .year2000 .year_cnt > .year2_group > .year_txt {
        margin-bottom: 50px;
    }
    
    .cts_history .year .year1990 .year_cnt > .year1_group > .year_txt {
        margin-bottom: 50px;
    }
    
    .cts_history .year .year1990 .year_cnt > .year2_group > .year_txt {
        margin-bottom: 50px;
    }
    
    
    .cts_history .year .year_cnt .year_txt > .year_tit h2 {
        font-size: 25px;
    }
    .cts_history .year .year_cnt .year_txt > .year_tit h3 {
        font-size: 20px;
        left: 12px;
        top: 14px;
    }
    
    .cts_history .year .year_cnt .year_txt dl{
        margin: 70px 0 0 27px;
    
    }
    
    .cts_history .year_cnt dl dd {
        margin: 0 0 20px 15px;
        /* 왼쪽에 dt가 들어갈 자리를 반드시  margin으로 여백 */  
    }

    .cts_history .year2000 .year_cnt .year1_group dl dd:last-child {
        margin: 0 0 20px 25px;
    }

}

.cts_ir03 {
    margin: 95px 0 150px 0;
}
.cts_ir03 h2 {
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 700;
}
.cts_ir03 p {
    margin: 10px 0 40px 0;
}
/*모바일에서 테이블이 다 안보일때 좌우로 스크롤*/
.cts_ir03 .table_wrap {
    overflow: auto;
}
.cts_ir03 .table_wrap table {
    width: 100%;
    border-collapse: collapse;
    /* table 에서만 적용됨
      각 th, td 칸에 border가 들어가 있는데 
      중간 사이가 중복되서 선이 2중으로 보이는걸
      병합해줌  */
    border-top: 5px solid #F51919;
}
.cts_ir03 .table_wrap table caption {
    display: none; /* 숨김 */
}
.cts_ir03 .table_wrap table th,
.cts_ir03 .table_wrap table td {
    border: 1px solid #ccc;
}

.cts_ir03 .table_wrap table th:first-child,
.cts_ir03 .table_wrap table td:first-child {
    border-left: 0;
}

.cts_ir03 .table_wrap table th:last-child,
.cts_ir03 .table_wrap table td:last-child {
    border-right: 0;
}
.cts_ir03 .table_wrap table tbody th,
.cts_ir03 .table_wrap table tbody td {
    padding: 10px 20px;
}
.cts_ir03 .table_wrap table thead th,
.cts_ir03 .table_wrap table thead td {
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 20px;
}

.cts_ir03 .table_wrap table td {
    text-align: center;
} 

.cts_ir03 .table_wrap table th {
    text-align: right;
    font-weight: 700;
} 

.cts_ir03 .table_wrap table th:first-child {
    text-align: left;
}

@media screen and (max-width:768px){
    .cts_ir03 {
        margin: 50px 0 80px 0;
    }
    .cts_ir03 h2 {
        font-size: 20px;
    }
    .cts_ir03 .table_wrap table thead th,
    .cts_ir03 .table_wrap table thead td {
    font-size: 15px;
    padding: 8px 9px;
}
}

.cts_biz05 {
    margin: 180px 0;
}

.cts_biz05 .search_group .search{
    max-width: 844px;
    width: 100%;
    height: 89px;
    border: 2px solid #F51919;
    border-radius: 45px;
    margin: 0 auto; /*넓이가 있는 block요소를 가운데 정렬 */
    position: relative; /* before 정렬의 기준 */
    padding: 0 0 0 106px;
    display: flex;
    align-items: center; /*위아래 가운데*/
}

.cts_biz05 .search_group .search::before {
    position: absolute;
    left: 35px;
    top: 6px;
    font-size: 50px;
    font-weight: 700;
    color: #F51919;
    content: "K";
}

.cts_biz05 .search_group .search label{
    display: none;
}

.cts_biz05 .search_group .search input[type="text"] {
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    width: calc(100% - 106px);
    border: 0;
    outline: 0;
}

.cts_biz05 .search_group .search input[type="text"]::placeholder {
    font-weight: 400;
    color: #AAAAAA;
}

.cts_biz05 .search_group .search input[type="submit"] {
    border: 0;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72.031' height='72.031' viewBox='0 0 72.031 72.031'%3E%3Cpath id='search-line' d='M58.845,53.83,74.031,69.017l-5.015,5.015L53.83,58.845a31.922,31.922,0,1,1,5.015-5.015ZM51.731,51.2a24.815,24.815,0,1,0-.532.532Z' transform='translate(-2 -2)' fill='%23f51919'/%3E%3C/svg%3E%0A");    
    margin-left: 30px;
}

.cts_biz05 .search_group .search:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1)
}

@media screen and (max-width:1024px) {
    .cts_biz05 .search_group .search{
        height: 60px;
        padding: 0 0 0 70px;
    }

    
    .cts_biz05 .search_group .search::before {
        top: 23px;
        left: 25px;
        top: 5px;
        font-size: 30px;
    }

        
    .cts_biz05 .search_group .search input[type="text"] {
        font-size: 20px;
        width: calc(100% - 85px);
    }

    .cts_biz05 .search_group .search input[type="submit"] {
        width: 25px;
        height: 25px;
        margin-left: 25px;
    }
    
}

.cts_biz05 .login_group {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
}
.cts_biz05 .login_group h2 {
    font-size: 35px;
    font-weight: 700;
    color: #1d1d1d;
    margin-bottom: 40px;
}
.cts_biz05 .login_group .login_form {
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.05);
}
.cts_biz05 .login_group .login_form .user_id,
.cts_biz05 .login_group .login_form .user_pw {
    height: 93px;
    display: flex;
    align-items: center; /* 위아래 가운데 */
}
.cts_biz05 .login_group .login_form .user_id {
    border-bottom: 2px solid #CCCCCC;
}
.cts_biz05 .login_group .login_form .user_id label,
.cts_biz05 .login_group .login_form .user_pw label {
    font-size: 0;
    line-height: 0;
    width: 105px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.cts_biz05 .login_group .login_form .user_id label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 35.454 33.506'%3E%3Cpath id='person_FILL0_wght200_GRAD0_opsz24' d='M217.727-729.421a7.316,7.316,0,0,1-5.366-2.232,7.316,7.316,0,0,1-2.232-5.366,7.316,7.316,0,0,1,2.232-5.366,7.316,7.316,0,0,1,5.366-2.232,7.316,7.316,0,0,1,5.366,2.232,7.316,7.316,0,0,1,2.232,5.366,7.316,7.316,0,0,1-2.232,5.366A7.316,7.316,0,0,1,217.727-729.421ZM200-713.74v-1.539a5.182,5.182,0,0,1,.913-2.934,6.129,6.129,0,0,1,2.457-2.121,35.93,35.93,0,0,1,7.174-2.579,30.746,30.746,0,0,1,7.183-.86,30.746,30.746,0,0,1,7.183.86,35.93,35.93,0,0,1,7.174,2.579,6.129,6.129,0,0,1,2.457,2.121,5.182,5.182,0,0,1,.913,2.934v1.539a2.544,2.544,0,0,1-.757,1.873,2.544,2.544,0,0,1-1.873.757H202.63a2.544,2.544,0,0,1-1.873-.757A2.544,2.544,0,0,1,200-713.74Zm2.532.1h30.389v-1.636a2.627,2.627,0,0,0-.543-1.583,4.369,4.369,0,0,0-1.5-1.252,32.14,32.14,0,0,0-6.447-2.321,28.314,28.314,0,0,0-6.7-.806,28.315,28.315,0,0,0-6.7.806,32.139,32.139,0,0,0-6.447,2.321,4.37,4.37,0,0,0-1.5,1.252,2.627,2.627,0,0,0-.543,1.583Zm15.195-18.311a4.877,4.877,0,0,0,3.577-1.488,4.877,4.877,0,0,0,1.488-3.577A4.877,4.877,0,0,0,221.3-740.6a4.877,4.877,0,0,0-3.577-1.488,4.877,4.877,0,0,0-3.577,1.488,4.877,4.877,0,0,0-1.488,3.577,4.877,4.877,0,0,0,1.488,3.577A4.877,4.877,0,0,0,217.727-731.954ZM217.727-737.019ZM217.727-713.642Z' transform='translate(-200 744.616)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 35px auto;
}
.cts_biz05 .login_group .login_form .user_pw label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.223 35'%3E%3Cpath id='lock_FILL0_wght200_GRAD0_opsz24' d='M203.141-805a3.028,3.028,0,0,1-2.223-.918,3.028,3.028,0,0,1-.918-2.223v-17.052a3.028,3.028,0,0,1,.918-2.223,3.028,3.028,0,0,1,2.223-.918h2.692v-3.889a7.5,7.5,0,0,1,2.264-5.514A7.5,7.5,0,0,1,213.611-840a7.5,7.5,0,0,1,5.514,2.264,7.5,7.5,0,0,1,2.264,5.514v3.889h2.692a3.028,3.028,0,0,1,2.223.918,3.028,3.028,0,0,1,.918,2.223v17.052a3.028,3.028,0,0,1-.918,2.223,3.028,3.028,0,0,1-2.223.918Zm0-1.944h20.94a1.165,1.165,0,0,0,.86-.337,1.164,1.164,0,0,0,.337-.86v-17.052a1.165,1.165,0,0,0-.337-.86,1.165,1.165,0,0,0-.86-.337h-20.94a1.165,1.165,0,0,0-.86.337,1.165,1.165,0,0,0-.337.86v17.052a1.164,1.164,0,0,0,.337.86A1.165,1.165,0,0,0,203.141-806.944Zm10.47-6.806a2.818,2.818,0,0,0,2.073-.843,2.818,2.818,0,0,0,.843-2.073,2.818,2.818,0,0,0-.843-2.073,2.818,2.818,0,0,0-2.073-.843,2.818,2.818,0,0,0-2.073.843,2.818,2.818,0,0,0-.843,2.073,2.818,2.818,0,0,0,.843,2.073A2.818,2.818,0,0,0,213.611-813.75Zm-5.833-14.583h11.667v-3.889a5.626,5.626,0,0,0-1.7-4.132,5.626,5.626,0,0,0-4.132-1.7,5.626,5.626,0,0,0-4.132,1.7,5.626,5.626,0,0,0-1.7,4.132Zm-5.833,21.389v0Z' transform='translate(-200 840)' fill='%23999'/%3E%3C/svg%3E%0A");
    background-size: 27px auto;
}
.cts_biz05 .login_group .login_form input {
    width: calc(100% - 150px);
    font-size: 25px;
    font-weight: 700;
    color: #1d1d1d;
    border: 0;
    outline: 0;
}
.cts_biz05 .login_group .login_form input::placeholder {
    font-weight: 400;
    color: #AAAAAA;
}
.cts_biz05 .login_group .login_chk {
    margin: 20px 0 35px 0;
}
.cts_biz05 .login_group .login_chk input {
    display: none;
}
.cts_biz05 .login_group .login_chk label {
    position: relative; /* before정렬의 기준 */
    font-size: 20px;
    color: #666666;
    padding-left: 45px;
}
.cts_biz05 .login_group .login_chk label::before {
    position: absolute;
    left: 12px;
    top: 3px;
    width: 21px;
    height: 21px;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.99 20.99'%3E%3Cpath id='check_circle_FILL0_wght200_GRAD0_opsz24' d='M128.818-826.6l-2.911-2.911a.588.588,0,0,0-.4-.175.545.545,0,0,0-.424.175.573.573,0,0,0-.186.413.573.573,0,0,0,.186.413l3.077,3.077a.9.9,0,0,0,.659.283.9.9,0,0,0,.659-.283l6.387-6.387a.588.588,0,0,0,.175-.4.545.545,0,0,0-.175-.424.572.572,0,0,0-.413-.186.572.572,0,0,0-.413.186Zm1.681,7.589a10.228,10.228,0,0,1-4.093-.826,10.6,10.6,0,0,1-3.334-2.242,10.593,10.593,0,0,1-2.245-3.331A10.207,10.207,0,0,1,120-829.5a10.228,10.228,0,0,1,.826-4.093,10.605,10.605,0,0,1,2.242-3.334,10.593,10.593,0,0,1,3.331-2.245,10.208,10.208,0,0,1,4.091-.827,10.228,10.228,0,0,1,4.093.826,10.6,10.6,0,0,1,3.334,2.242,10.594,10.594,0,0,1,2.245,3.331,10.208,10.208,0,0,1,.827,4.092,10.228,10.228,0,0,1-.826,4.093,10.607,10.607,0,0,1-2.242,3.334,10.6,10.6,0,0,1-3.331,2.245A10.208,10.208,0,0,1,130.5-819.01Zm0-1.166a9,9,0,0,0,6.618-2.711,9,9,0,0,0,2.711-6.618,9,9,0,0,0-2.711-6.618,9,9,0,0,0-6.618-2.711,9,9,0,0,0-6.618,2.711,9,9,0,0,0-2.711,6.618,9,9,0,0,0,2.711,6.618A9,9,0,0,0,130.495-820.176ZM130.495-829.505Z' transform='translate(-120 840)' fill='%23999'/%3E%3C/svg%3E%0A");
}
/*
   <input type="checkbox">
   <label>체크</label>
   checkbox가 클릭되면 input:checked 로 확인 가능 ..
   체크 이후의 디자인은 input:checked 뒤에 나오는 label태그는 
   반드시 코딩 순서가 input label이 나와야함
*/
.cts_biz05 .login_group .login_chk input:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20.99 20.99'%3E%3Cpath id='check_circle_FILL1_wght200_GRAD0_opsz24' d='M128.818-826.6l-2.911-2.911a.587.587,0,0,0-.4-.175.545.545,0,0,0-.424.175.573.573,0,0,0-.186.413.572.572,0,0,0,.186.413l3.077,3.077a.9.9,0,0,0,.659.283.9.9,0,0,0,.659-.283l6.387-6.387a.587.587,0,0,0,.175-.4.545.545,0,0,0-.175-.424.572.572,0,0,0-.413-.186.572.572,0,0,0-.413.186Zm1.681,7.589a10.228,10.228,0,0,1-4.093-.826,10.606,10.606,0,0,1-3.334-2.242,10.593,10.593,0,0,1-2.245-3.331A10.207,10.207,0,0,1,120-829.5a10.229,10.229,0,0,1,.826-4.093,10.606,10.606,0,0,1,2.242-3.334,10.6,10.6,0,0,1,3.331-2.245,10.208,10.208,0,0,1,4.091-.827,10.229,10.229,0,0,1,4.093.826,10.606,10.606,0,0,1,3.334,2.242,10.6,10.6,0,0,1,2.245,3.331,10.207,10.207,0,0,1,.827,4.091,10.228,10.228,0,0,1-.826,4.093,10.6,10.6,0,0,1-2.242,3.334,10.594,10.594,0,0,1-3.331,2.245A10.208,10.208,0,0,1,130.5-819.01Z' transform='translate(-120 840)' fill='%23f51919'/%3E%3C/svg%3E%0A");
}
.cts_biz05 .login_group input[type="submit"] {
    width: 100%;
    line-height: 80px;
    background-color: #F51919;
    border-radius: 15px;
    border: 0;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;/* 오버시 마우스 포인터 손가락 */
}
@media screen and (max-width:1024px){
    .cts_biz05 .login_group h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .cts_biz05 .login_group .login_form .user_id,
    .cts_biz05 .login_group .login_form .user_pw {
        height: 60px;
    }
    .cts_biz05 .login_group .login_form .user_id label,
    .cts_biz05 .login_group .login_form .user_pw label {
        width: 60px;
    }
    .cts_biz05 .login_group .login_form .user_id label {
        background-size: 20px auto;
    }
    .cts_biz05 .login_group .login_form .user_pw label {
        background-size: 15px auto;
    }
    .cts_biz05 .login_group .login_form input {
        width: calc(100% - 80px);
        font-size: 17px;
    }
}