@import url(default.css);
@import url(common.css);
@import url(layout.css);
/*
    파일명 : main.css
    작성자 : 윤서하
    작성일 : 24.03.28
    설  명 : 메인페이지에만 들어가는 스타일을 저장 (header, footer 빼고 전부 다)
*/

.visual {
    position: relative;
}
.visual .swiper { 
    position: relative;
} /* 팝업의 높이가 됨 */
.visual .swiper-slide img {
    width:100%;
}
.visual .swiper-slide img.popup_mo {
    display: none;
}
.visual h2 {
    position: absolute;
    left: 98px;
    top: 150px;
    z-index: 10000000;
    font-family: 'KoPub Batang', serif;
    letter-spacing: -2.5%;
    font-size: 40px;
    font-weight: 400;
    color: #1d1d1d;
}
.visual strong {
    position: absolute;
    left: 98px;
    top: 230px;
    z-index: 10000000;
    font-family: 'KoPub Batang', serif;
    letter-spacing: -2.5%;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: #3d3d3d;
    transform: skew(-0.1deg);
}
.visual .paging {
    position: absolute;
    left: calc(50% - 800px);
    bottom: 132px;
    z-index: 11;
    width: 1600px;
    display: flex;
}
.visual .paging > span {
    display: block;
    width: 33.3%;
    height: 9px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
}
.visual .paging > span > span {
    position: absolute;
    left: 0;
    top: 25px;
    color: #3D3D3D;
    font-size: 20px;
}
/* 현재 팝업이 활성화 되었을때 */
.visual .paging > span.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.8);
}
.visual .paging > span.swiper-pagination-bullet-active > span {
    font-weight: 700;
}
.visual .paging .page1 span::before {
    content: "BEVERAGE";
}
.visual .paging .page2 span::before {
    content: "COFFEE";
}
.visual .paging .page3 span::before {
    content: "DESSERT";
}


@media screen and (max-width:1640px){
    .visual .swiper-slide {
        overflow: hidden;
    }
        
    .visual h2 {
        left: 80px;
        top: 150px;
        font-size: 2rem;
    }
    .visual strong {
        left: 80px;
        top: 220px;
        font-size: 1rem;
    }
    .visual .paging {
        left: calc(50% - 600px);
        bottom: 100px;
        width: 1200px;
    }
    .visual .paging > span {
        height: 7px;
    }
    .visual .paging > span > span {
        top: 20px;
        font-size: 18px;
    }
}
@media screen and (max-width:1320px){
    .visual h2 {
        left: 30px;
        top: 120px;
    }
    .visual strong {
        left: 30px;
        top: 170px;
        font-size: 1rem;
    }
    .visual .paging {
        left: calc(50% - 450px);
        bottom: 80px;
        width: 900px;
    }
    .visual .paging > span {
        height: 6px;
    }
    .visual .paging > span > span {
        top: 18px;
        font-size: 17px;
    }
}

@media screen and (max-width:1024px){
    .visual h2 {
        top: 90px;
    }
    .visual strong {
        display: none;
    }
    .visual .paging {
        left: calc(50% - 310px);
        bottom: 60px;
        width: 600px;
    }
    .visual .paging > span {
        height: 5px;
    }
    .visual .paging > span > span {
        top: 16px;
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    .visual .swiper-slide img {
        width: 100%;
        transform: translate(0, 0);
    }
    .visual .swiper-slide img.popup_pc {
        display: none;
    }
    .visual .swiper-slide img.popup_mo {
        display: block;
    }
    .visual h2 {
        top: 80px;
    }
    .visual strong {
        display: none;
    }
    .visual .paging {
        left: calc(50% - 220px);
        bottom: 60px;
        width: 440px;
    }
}
@media screen and (max-width:500px){
    .visual .paging {
        left: calc(50% - 160px);
        bottom: 40px;
        width: 320px;
    }
    .visual .paging > span {
        height: 4px;
    }
    .visual .paging > span > span {
        top: 8px;
        font-size: 15px;
    }
}

.product {
    margin: 130px 0 130px 0 ;
}
.product h2 {
    font-family: 'KoPub Batang', serif;
    font-size: 40px;
    text-align: center;
    margin: 0 0 22px 0;
}
.product p {
    text-align: center;
    letter-spacing: -2.5%;
    transition: 0.5s;
}
.product .list .swiper {
    width: 1510px;
    margin-top: 70px;
}
.product .list ul {
    position: relative;
}
.product .list ul li {
    width: 235px;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a .photo {
    display: block;
}
.product .list ul li a {
    display: block;
    text-align: center;
    overflow: hidden;
}
.product .list ul li a .photo img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.5s;
}
.product button {
    position: absolute;
    top: calc(50% - 12px);
    width: 30px;
    height: 30px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.product button.prev {
    background-image: url(../images/main/화살표_왼쪽.svg);
    left:0;
}
.product button.next {
    background-image: url(../images/main/화살표_오른쪽.svg);
    right:0;
}
@media screen and (max-width:1640px){
    .product {
        margin: 120px 0 120px 0 ;
    }
    .product h2 {
        font-size: 38px;
        margin: 0 0 20px 0;
    }
    .product .list .swiper {
        width: 1200px;
        margin-top: 60px;
        position: relative;
    }
    .product .list ul li a .photo {
        width: 224px;
        height: 224px;
    }
}
@media screen and (max-width:1320px){
    .product {
        margin: 110px 0 110px 0 ;
    }
    .product h2 {
        font-size: 36px;
        margin: 0 0 18px 0;
    }
    .product .list .swiper {
        width: 950px;
        margin-top: 50px;
    }
    .product .list ul li a .photo {
        width: 222.5px;
        height: 222.5px;
    }
}

@media screen and (max-width:1024px){
    .product {
        margin: 100px 0 100px 0 ;
    }
    .product h2 {
        font-size: 34px;
        margin: 0 0 16px 0;
    }
    .product .list .swiper {
        margin-top: 40px;
    }
    .product .list ul {
        width: 680px;
        height: 155px;
    }
    .product .list ul li {
        width: 155px;
        height: 100%;
    }
    .product .list ul li a .photo  {
        width: 100%;
        height: 100%;
    }
    .product button {
        display: none;
    } 

}
@media screen and (max-width:768px){
    .product {
        margin: 90px 0 90px 0 ;
    }
    .product h2 {
        font-size: 32px;
        margin: 0 0 14px 0;
    }
    .product .list .swiper {
        margin-top: 30px;
    }
    .product .list ul {
        width: 600px;
        height: 118px;
    }
    .product .list ul li {
        width: 118px;
        height: 100%;
    }
    .product .list ul li a .photo  {
        width: 100%;
        height: 100%;
    }
}
.brand .wrapper {
    display: flex;
}
.brand::before {
    display: block;
    border-top: 1px solid rgba(61, 61, 61, 0.5);
    width: 1750px;
    content: "";
}
.brand::after {
    display: block;
    border-bottom: 1px solid rgba(61, 61, 61, 0.5);
    width: 1900px;
    content: "";
    margin: 0 0 0 140px;
}
.brand .photo {
    width: 41rem;
    height: 100%;
    padding: 95px 0 95px 60px;
}
.brand .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.brand .cnt {
    display: block;
}
.brand .cnt > strong{
    display: block;
    font-size: 1.4rem;
    font-family: 'kopubbatang', serif;
    font-weight: 700;
    margin: 243px 0 50px 60px;
    transform: skew(-0.1deg);
}
.brand .cnt > h2 {
    display: block;
    font-size: 2.5rem;
    font-family: 'kopubbatang', serif;
    font-weight: 400;
    margin: 0 0 100px 60px;
    white-space: nowrap;
}
.brand .cnt > p {
    display: block;
    line-height: 2;
    margin: 0 0 0 105px;
    font-size: 1rem;
}
.brand .cnt .more {
    margin: 84px 0 0 105px;
}
.brand .cnt .more ul {
    display: flex;
}
.brand .cnt .more ul li span {
    display: block;
    font-size: 15px;
}
.brand .cnt .more ul li strong {
    display: block;
    line-height: 40px;
}
.brand .cnt .more ul li a {
    width: 118px;
    height: 85px;
    margin-left: 10px;
}
.brand .cnt .more ul li a img {
    width: 118px;
    height: 100%
}
 
@media screen and (max-width:1640px){
    .brand .wrapper {
        align-items: center;
    }
    .brand::before {
        width: 1300px;
    }
    .brand::after {
        margin: 0 0 0 80px;
    }
    .brand .photo {
        padding: 80px 0 80px 50px;
    }
    .brand .cnt > strong{
        margin: 80px 0 50px 50px;
    }
    .brand .cnt > h2 {
        margin: 0 0 60px 50px;
    }
    .brand .cnt > p {
        margin: 0 0 0 80px;
        font-size: 1rem;
    }
    .brand .cnt .more {
        margin: 50px 0 0 80px;
    }
}
@media screen and (max-width:1320px) {
    .brand::before {
        width: 1000px;
    }
    .brand::after {
        margin: 0 0 0 80px;
    }
    .brand .photo {
        padding: 70px 0 70px 40px;
    }
    .brand .cnt > strong{
        margin: 80px 0 50px 40px;
    }
    .brand .cnt > h2 {
        margin: 0 0 50px 40px;
    }
    .brand .cnt > p {
        margin: 0 0 0 60px;
    }
    .brand .cnt .more {
        margin: 40px 0 0 60px;
    }
}
@media screen and (max-width:1024px){
    .brand::before {
        width: 850px;
    }
    .brand::after {
        margin: 0 0 0 60px;
    }
    .brand .photo {
        padding: 50px 0 50px 30px;
    }
    .brand .cnt > strong{
        margin: 30px 0 20px 30px;
    }
    .brand .cnt > h2 {
        margin: 0 0 20px 30px;
    }
    .brand .cnt > p {
        margin: 0 0 0 40px;
    }
    .brand .cnt .more {
        margin: 20px 0 0 40px;
    }
    .brand .cnt .more ul li a img {
        width: 75px;
        height: 100%
    }
}
@media screen and (max-width:768px){
    .brand .wrapper {
        display: block;
    }
    .brand::before {
        width: 600px;
    }
    .brand::after {
        margin: 0 0 0 60px;
    }
    .brand .photo {
        padding: 50px 0 50px 30px;
    }
    .brand .cnt > strong{
        margin: 30px 0 20px 30px;
    }
    .brand .cnt > h2 {
        margin: 0 0 20px 30px;
    }
    .brand .cnt > p {
        margin: 0 0 0 40px;
    }
    .brand .cnt .more {
        margin: 20px 0 0 40px;
    }
    .brand .cnt .more ul li a img {
        width: 75px;
        height: 100%
    }
}
@media screen and (max-width:500px){
   
}

.social {
    margin: 130px 0 130px 0;
}
.social > .wrapper {
    position: relative;
}
.social h2 {
    font-size: 2rem;
    font-family: 'kopubbatang', serif;
    font-weight: 700;
    margin: 0 0 30px 0;
    text-align: center;
}
.social p {
    color: #3D3D3D;
    text-align: center;
}
.social .sns ul {
    display: flex;
}
.social .list .swiper {
    width: 1413px;
    margin-top: 80px;
}
.social .list ul li {
    width: 445px;
}
.social .list ul li a {
    display: block;
}
.social .list ul li a .tag {
    margin: 29px 0 0 0;
    text-align: left;
    transition: 0.5s;
}
.social .list ul li a .tag span {
    padding-right: 25px;
}
.social .ctrl_btn button {
    position: absolute;
    top: calc(50% + 37.5px);
    width: 75px;
    height: 75px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.social .ctrl_btn button.prev {
    background-image: url(../images/main/화살표_왼쪽2.svg);
    left: 0;
}
.social .ctrl_btn button.next {
    background-image: url(../images/main/화살표_오른쪽2.svg);
    right: 0;
}

@media screen and (max-width:1320px){

}
@media screen and (max-width:1024px){

}
@media screen and (max-width:768px){

}
@media screen and (max-width:500px){

}

@media screen and (max-width:768px){

    /* .m_skip {
        display: none;
    } */
}



aside.quick {
    position: fixed;
    right: 25px;
    top: 124px;
    z-index: 100;
}
aside.quick ul li {
    margin-top: 32px;
}
aside.quick ul li a {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    background-color: #97644D;
    color: #fff;
    font-size: 13px;
    padding-top: 50px;
    text-align: center;
    position: relative; /* before */
    box-shadow: 0 0 5px rgba(0,0,0,0.1)
}
aside.quick ul li a::before {
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
}
aside.quick ul li.youtube a::before {
    background-image: url(../images/common/aside_youtube.png)
}
aside.quick ul li.foundation a::before {
    background-image: url(../images/common/aside_found.svg)
}
aside.quick ul li.call a::before {
    background-image: url(../images/common/aside_call.svg)
}

aside.top {
    position: relative;
    cursor: pointer;
}
aside.top button {
    display: block;
    position: absolute;
    right: 40px;
    top: -120px;
    display: block;
    color: #3d3d3d;
    text-align: center;
}
aside.top button span {
    line-height: 35px;
}
@media screen and (max-width:1640px){

}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:768px){
    
}
@media screen and (max-width:500px){
   
}

footer {
    background-color: #302F2D;
    color: #fff;
    display: flex;
    position: relative;
}
footer .f_logo {
    padding: 53px 0 0 53px;
}
footer .f_cnt {
    margin-left: 64px;
}
footer .f_logo img {
    width: 115px;
}
footer .f_link {
    position: absolute;
    bottom: 51px;
    right: 40px;
}
footer .f_link ul {
    display: flex;
    justify-content: center;
    width: 160px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 12px 12px 15px 12px;
}
footer .f_link ul li {
    margin: 0 12px;
    display: flex;
    align-items: center;
}
footer .f_link ul li a {
    width: 17px;
    height: 17px;
}
footer .f_link ul li a img {
    height: 100%;
    width: 100%;
}
footer .f_nav {
    margin: 40px 0;
}
footer .f_nav ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 허용 */
}
footer .f_nav ul li {
    margin: 0 42px 10px 0;
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li::after {
    position: absolute;
    right: -20px;
    top: 5px;
    width: 1px;
    height: 10px;
    background-color: #d6d1cc;
    content: "";
}
footer .f_nav ul li:last-child {
    margin-right: 0;
}
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .f_info{
    margin: 52px 0 34px 0;
}
footer .f_info span {
    display: inline-block;
    margin: 0 30px 10px 0;
}
footer .copyright {
    margin: 40px 0 80px 0;
    padding: 20px 0;
}
footer .f_tel {
    position: absolute;
    right: 0;
    top: 0;
    margin: 50px 40px 50px 0;
}
footer .f_tel span {
    display: block;
    text-align: right;
    margin-bottom: 26px;
}
footer .f_tel span.tell {
    font-size: 45px;
    color: #FFCC00;
    margin-top: 16px ;
}
footer .f_tel span:last-child {
    margin-bottom:0;
}
@media screen and (max-width:1640px){

}
@media screen and (max-width:1024px){
   
}
@media screen and (max-width:768px){
    
}
@media screen and (max-width:500px){
   
}

@media screen and (max-width:768px){
    footer .f_link ul {
        display: flex;
        justify-content: center;
        width: 160px;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 20px;
        margin: 33px 0 33px 0;
        padding: 12px;
    }
    footer .f_link ul li {
        margin: 0 12px;
        display: flex;
        align-items: center;
    }
    footer .f_link ul li a {
        width: 17px;
        height: 17px;
    }
    footer .f_link ul li a img {
        width: 100%;
        height: 100%;
    }
}
