@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); font-weight:400; font-style:normal; }
@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff'); font-weight:700; font-style:normal; }
@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff'); font-weight:800; font-style:normal; }
@font-face { font-family:'Pretendard'; src:url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff'); font-weight:900; font-style:normal; }


body {
    font-family: 'Pretendard', serif;
    font-size: 20px;
    color: #;
    font-weight: 400;
    line-height: 1.2;
    word-break: keep-all;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

#wrap {
    min-width: 1280px;
}
/* pc형에서 wrapper 사이즈보다 브라우저 넓이가 작을 때 가로 스크롤바가 생성되는데 오른쪽에 background가 짤리는 현상이 생김
가로스크롤바가 생성되었을 때도 홈페이지를 정상적으로 서비스하기 위해서 최소넓이를 입력 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 100px;
}

header .logo {
    float: left;
    margin: 32px 0 0 0;
}

header .logo a {
    display: block;
}

header .gnb {
    float: right;
}

header .gnb ul {
    display: flex;
}

header .gnb ul li a {
    font-size: 25px;
    padding: 33px 33px 33px 33px;
    display: block;
    /* a태그는 인라인태그 따라서 padding이 제대로 적용되지 않기 때문에
    padding 시키기 위해서는 block태그로 변경 */
}

header .gnb ul li a:hover {
    text-decoration: underline;
}
/* 경로에서 ../는 폴더 밖으로 나가라는 명령 
background에 아무리 큰 이미지를 넣어도 해당영역의 높이만큼만 보임
background에 큰 이미지를 넣었고 그걸 다 보이게 하려면 높이를 줘야함.*/
.visual {
    height: 800px;
    background:url(../images/visual_bg.png) center center no-repeat;
    color: #fff;
    text-align: center;
    /* 배경색 때문에 그 내부의 글자색상이 달라졌다면 대표되는 색을 background랑 같이 선언해주는 것이 이해가 쉬움 */
}

.visual h2 {
    font-size: 52px;
    font-weight: 800;
    line-height: 1.1;
    padding: 141px 0 22px 0;
}

.visual p {
    font-size: 30px;
}
/* 자간은 letter-spacing: -0.05em */

.biz h2 {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.05em;
    margin: 123px 0 50px 0;
}

.biz h2 strong{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.05em;
    margin: 10px 0 15px 0;
}

.biz ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.biz ul li h3 {
    font-size: 50px;
    font-weight: 400;
    margin: 27px 0 20px 0 ;
    letter-spacing: -0.05em;
}

.biz ul li p {
    font-size: 20px;
    letter-spacing: -0.05em;
}

.biz ul li a {
    border: 1px solid #ccc;
    padding: 19px 79px 19px 79px;
    display: inline-block;
    margin: 20px 0 0 0;
}

.brand {
    height: 800px;
    background:url(../images/brand_bg.png) center center no-repeat;
    color: #fff;
    margin: 124px 0 0 0;
}

.brand h2 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.05em;
    padding: 230px 0 0 0;
    line-height: 1.1;
}

.brand p {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.05em;
    margin: 17px 0 17px 0;
    line-height: 1.1;
    color: rgba(255, 255, 255, 0.8);
}

.brand a {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.05em;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px 52px 20px 52px;
    display: inline-block;
    line-height: 1.1;
}

footer {
    height: 153px;
    background-color: #2d2d2d;
    color: rgba(255, 255, 255, 0.8);
    padding: 50px 0 50px 0;
    font-size: 15px;
}

footer .f_nav{
    display: flex;
    margin: 0 0 21px 0;
}
/* 하단의 copyright와의 여백 */


footer .f_nav li {
    margin: 0 29px 0 0;
    display: block;
}
/* 각각의 li사이의 여백 */

header .f_nav privacy {
    font-weight: 800;
}
footer .copyright {
    color: rgba(255, 255, 255, 0.6);
}

